{%extends 'base.html' %}

{% block title %}Boggle Board{%endblock%}

{% block body %}
    <div id="game-data" class="container mt-3">
        <div class="row justify-content-center">
        <p id="timer-container"></p>
        </div>
        <div class="row justify-content-center">
          <p id="high-score">High score: <span>{{ session['highest_score'] }}</span><span class="ec ec-ok-hand"></span>
          </p>
        </div>
        <div class="row justify-content-center">
          <p id="games-played">Games played: <span>{{ session['num_games'] }}</span></p>
        <div class="row justify-content-center">
    </div>  
    <div class="container justify-content-center" id="table-container">
    <table class="table table-bordered">
      <tbody>
        {% for row in board %}
        <tr>
          {% for item in row %}
        <td>{{item}}</td>
          {% endfor %}
        </tr> 
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="container text-center" id="guess-container">
    <div class="row justify-content-center">
      <input type="text" name="guess" id="guess" placeholder="Guess a word!">
      <button class="btn btn-outline-primary ml-2" type="submit" id="submit-guess">Submit</button>
    </div>
  </div>
<div class="container text-center mt-2">
  <p id="guess-message"></p>
  <p id="score">Score: <span></span></p>
</div>
{%endblock%}



