{%extends 'base.html' %}

{% block title %}Boggle Board{%endblock%}

{% block body %}
    <div class="container" id="timer-container"></div>
    <div id="game-data" class="container">
    <p>High score:<span id="high_score">{{ session['highest_score'] }}</span></p>
      <p>Number of games played:<span id="games-played">{{ session['num_games'] }}</span></p>
    </div>  
    <div class="container justify-content-center" id="table-container">
    <table class="table table-bordered">
      <tbody>
        {% for row in board %}
        <tr>
          {% for item in row %}
        <td>{{item}}</td>
          {% endfor %}
        </tr> 
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="container text-center" id="guess-container">
    <label for="guess">Guess a word:</label>
    <input type="text" name="guess" id="guess">
    <button class="btn btn-outline-primary" type="submit" id="submit-guess">Submit</button>
</div>
<div class="container text-center">
  <p id="guess-message"></p>
  <p>Score: <span id="score"></span></p>
</div>
{%endblock%}



